/* google fonts */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");

/*  css variables */

:root {
    --card-bg-01: #e0aaff;
    --card-bg-02: #c77dff;
    --card-bg-03: #9d4edd;
    --card-bg-04: #7b2cbf;
    --primary-color: #240046;
    --hero-bg: #9f86c0;
    --heading-fontSize: 2rem;
    --small-text-color: #999;
    --heading-text-color: #4a306d;
}


/* reset browser default */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

p {
    color: var(--small-text-color);
    font-size: 1rem;
}

h1,
h2 {
    font-size: var(--heading-fontSize);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: unset;
}

img {
    width: 100%;
}

section {
    padding: 60px 0px;
}

.section__title {
    color: var(--primary-color);
    font-weight: 600;
}


@media only screen and (max-width:768px) {
    section {
        padding: 40px 0px;
    }
}